@using Domain.Models
@model User
<div class="member card" data-member-id="1">
  
    <div class="card-header">
        <div id="member-actions-container">
            <button type="button" data-type="dropdown" data-target="#member-dropdown-@Model.Id"
                    class="btn-action">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
            <div id="member-dropdown-@Model.Id" class="dropdown">
                <div class="dropdown-body">
                    <nav class="dropdown-actions">
                        <button class="dropdown-action" data-type="modal"
                                data-target="#edit-member-modal" data-action="edit-member"
                                data-member-id="@Model.Id" 
                                data-firstname="@Model.FirstName"
                                data-lastname="@Model.LastName"
                                data-email="@Model.Email"
                                data-phone="@Model.PhoneNumber"
                                data-jobtitle="@Model.JobTitle"
                                data-date="@Model.DateOfBirth?.ToString("yyyy-MM-dd")"
                                data-address="@Model.Address?.Address"
                                data-profileimage="@Model.ProfileImage">
                            <i class="fa-duotone fa-solid fa-pen"></i>
                            <span>Edit</span>
                        </button>
                    </nav>
                </div>
                <div class="or-divider"></div>
                <nav class="dropdown-actions">
                    <form asp-action="Delete" asp-controller="Members"  method="post">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button type="submit" class="dropdown-action remove">
                                <i class="fa-duotone fa-solid fa-trash"></i>
                                <span>Delete Member</span>
                            </button>
                    </form>
                </nav>

            </div>
        </div>
        <div class="user-img">
            <img src="/@Model.ProfileImage" alt="User profile image">
        </div>
        <h4 class="user-name"></h4>
        <span class="job-title-badge">@(string.IsNullOrWhiteSpace(Model.JobTitle) ? "N/A" : Model.JobTitle)</span>

    </div>

    <div class="card-body">
        <span class="user-email">
            @(string.IsNullOrWhiteSpace(Model.Email) ? "N/A" : Model.Email)
        </span>
        <span class="user-phone">
            @(string.IsNullOrWhiteSpace(Model.PhoneNumber) ? "N/A" : Model.PhoneNumber)
        </span>
    </div>
    <div class="card-footer">
        <button class="btn btn-message">Message</button>
    </div>
</div>